In [1]:
import pandas as pd

In [2]:
covid_df = pd.read_csv('./data/covid_data.csv')
covid_df.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [4]:
grouped = covid_df.groupby('location')
grouped.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23018,International,2019-12-31,0,0,NaN,NaN,NaN,NaN
23019,International,2020-01-01,0,0,NaN,NaN,NaN,NaN
23020,International,2020-01-02,0,0,NaN,NaN,NaN,NaN
23021,International,2020-01-03,0,0,NaN,NaN,NaN,NaN
23022,International,2020-01-04,0,0,NaN,NaN,NaN,NaN

In [9]:
covid_df.index.names.difference(['date'])

FrozenList([None])

In [13]:
len(grouped)

212

In [14]:
len(covid_df['location'].unique())

212